<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../Tic_Tac_Toe/style/index.css">
    <script src="../javascript/start.js"></script>
    <meta name="description" content="Крестики-Нолики"/>
    <title>Крестики-Нолики</title>
</head>
<body>
<header>
</header>
<main>
    <form action="tic-tac.html">
        <label for="name"></label><input id="name">
        <button type="button" onclick="addGame()">ffff</button>
        <button type="submit" onclick="newGame()">Давай играть</button>
    </form>
</main>
</body>
</html>