<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../Tic_Tac_Toe/style/index.css">
    <script src="../javascript/start.js"></script>
    <meta name="description" content="Крестики-Нолики"/>
    <title>Крестики-Нолики</title>
</head>
<body>
<header>
    <div id="player">
        <img src="../static/Giga.jpg" alt="Профиль">
        <span>Боба</span>
    </div>
</header>
<main>
    <form action="tic-tac.html">
        <div id="btn-group">
            <button type="button" onclick="addGame()">Редактировать профиль</button>
            <button type="button" onclick="addGame()">Подключиться к друзьям</button>
            <button type="submit" onclick="newGame()">Найти свободную игру</button>
        </div>
    </form>
</main>
</body>
</html>